.user-data-table-container {
    width: calc(100% - 60px);
    overflow-x: auto;
    height: 600px;
}

.user-data-table {
    position: relative;
}

.user-data-table__heading {
    padding: 10px;
    text-align: left;
    white-space: nowrap;
}

.user-data-table__row:nth-child(even) {
    background-color: #35d0ff;
    color: #fff;
}

.user-data-table__cell {
    padding: 3px 10px;
    white-space: nowrap;
}

.user-data-table__cell:first-child,
.user-data-table__heading:first-child {
    font-weight: bold;
    text-align: center;
}

.user-data-table__cta-container {
    position: sticky;
    right: 0;
}

@media only screen and (min-width: 1024px) {
    .user-data-table-container {
        width: calc(100% - 300px);
        max-width: 1115px;
        overflow-x: auto;
    }
}